@{
    Layout = null;
    ViewBag.Title = "Home";
    ViewBag.SelectedMenu = "home";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <link href="~/stylesheets/light/styles.css" rel="stylesheet" />
    <link href="~/sliders/coin-slider/coin-slider.css" rel="stylesheet" />


    <title>@ViewBag.Title</title>

    <!-- Initialise jQuery Library -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="/js/cufon/cufon-yui.js"></script>
</head>
<body id="main" class=".sample_22">
    <!-- Start Main Nav -->
    <div class="mainnav_full">
        @Html.Partial("_Nav")
    </div>
    <!-- End Main Nav -->
    <!-- Begin Header -->
    <div class="header_full sample_22">
        <div class="head_top_shadow"></div>
        <div class="head_bot_shadow"></div>
        <div id="header">
            <div class="SliderBg">
                <!-- Begin Slider -->
                @Html.Partial("_Slider")
                <!-- End Slider -->
            </div>
        </div>
    </div>
    <!-- End Header -->
    <!-- Start Content Wrapper -->
    <div class="content_wrapper">
        <!-- Content Area -->
        <div id="content">
            <div class="columns">              
                <div class="column">
                    <h2 class="icon dente">Unidades</h2>
                    <p>Donec accumsan malesuada orcidonec sitmet<br>eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec.</p>
                    <a href="/Home/Unidades" title="read more" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>
                <div class="column">
                    <h2 class="icon dente">Convênio</h2>
                    <p>Donec accumsan malesuada orcidonec sitmet<br>eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec.</p>
                    <a href="/Home/Convenios" title="read more" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>
                <div class="column">
                    <h2 class="icon dente">Agendamento Online</h2>
                    <p>Donec accumsan malesuada orcidonec sitmet<br>eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec.</p>
                    <a href="" title="agendamento online" onclick="alert('Em breve agendamento online para avaliação')" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="hr"></div>
            <div class="columns2">
                <div class="column">
                    <h2 class="icon dente">Cursos</h2>
                    <p>Donec accumsan malesuada orcidonec sitmet<br>eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec.</p>
                    <a href="#" title="saiba mais" onclick="alert('Em breve novidades sobre cursos')" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>               
                <div class="column">
                    <h2 class="icon dente">Especialidades</h2>
                    <p>Donec accumsan malesuada orcidonec sitmet<br>eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec.</p>
                    <a href="/Home/Especialidades" title="read more" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>
                <div class="column">
                    <h2 class="icon dente">Parceiros</h2>
                    <p>Donec accumsan malesuada orcidonec sitmet<br>eros lorem isum dolor amet incon. Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec.</p>
                    <a href="/Home/Parceiros" title="read more" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- End Content Wrapper -->
    <!-- Start Featured Bottom Line -->
    <div class="featured_bottom_line_full">
        @*@Html.Partial("_FeaturedBottomLine")*@
    </div>
    <!-- End Featured Bottom Line -->
    <!-- Start Footer Sidebar -->
    <div class="fsb_full">
        @Html.Partial("_Footer")
    </div>
    <!-- End Footer  -->
    <!-- Theme Hook -->
    <script src="~/js/Includer.js"></script>
    <script type="text/javascript">Cufon.now();</script>
</body>
</html>