@{
    Layout = null;
    ViewBag.Title = "Eternity | Home";
    ViewBag.SelectedMenu = "home";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.ico" />

    <link href="~/stylesheets/light/styles.css" rel="stylesheet" />
    <link href="~/sliders/coin-slider/coin-slider.css" rel="stylesheet" />


    <title>@ViewBag.Title</title>

    <!-- Initialise jQuery Library -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript" src="/js/cufon/cufon-yui.js"></script>
</head>
<body id="main" class=".sample_22">
    <!-- Start Main Nav -->
    <div class="mainnav_full">
        @Html.Partial("_Nav")
    </div>
    <!-- End Main Nav -->
    <!-- Begin Header -->
    <div class="header_full sample_22">
        <div class="head_top_shadow"></div>
        <div class="head_bot_shadow"></div>
        <div id="header">
            <div class="SliderBg">
                <!-- Begin Slider -->
                @Html.Partial("_Slider")
                <!-- End Slider -->
            </div>
        </div>
    </div>
    <!-- End Header -->
    <!-- Start Content Wrapper -->
    <div class="content_wrapper">
        <!-- Content Area -->
        <div id="content">
            <div class="columns">              
                <div class="column">
                    <h2 class="icon dente">A Clínica</h2>
                    <p>
                        Conheça a Eternity Clínica, temos profissionais altamente qualificados para sempre fazer o melhor por você.
                    </p>
                    <a href="/Home/Sobre" title="read more" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>
                <div class="column">
                    <h2 class="icon dente">Convênio</h2>                   
                    <p>
                        Saiba tudo sobre os convênios atendidos na Eternity Clínica. 
                        Atendimento exclusivo para convênios em nossa <b>Unidade Centro</b>
                    </p>
                    <a href="/Home/Convenios" title="read more" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>
                <div class="column">
                    <h2 class="icon dente">Agendamento Online</h2>
                    <p>
                        Mas comodidade para os agendamentos de consultas e avaliações, aqui você pode agendar sua consulta mais rápido e fácil
                    </p>
                    <a href="#content" title="agendamento online" onclick="alert('Em breve agendamento de consultas online')" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="hr"></div>
            <div class="columns2">
                <div class="column">
                    <h2 class="icon dente">Cursos</h2>
                    <p>
                        Fique por dentro de todos nossas oportunidades de cursos e palestras, atualizando-se e sempre fazendo o melhor para o seu paciente.
                    </p><br/>
                    <a href="/Home/Cursos" title="saiba mais" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>               
                <div class="column">
                    <h2 class="icon dente">Especialidades</h2>
                    <p>
                        Aqui você fica sabendo muito mais sobre as diversas especialidades que abrange a Odontologia, descobrindo tudo que a Odontologia faz pela sua saúde bucal.
                    </p>
                    <a href="/Home/Especialidades" title="read more" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>
                <div class="column">
                    <h2 class="icon dente">Parceiros</h2>
                    <p>
                    Conheça nossos parceiros que sempre estão colaborando para que possamos fazer um trabalho cada vez melhor para todos.</p><br/>
                    <a href="/Home/Parceiros" title="read more" class="btn alignleft">Saiba mais</a>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- End Content Wrapper -->
    <!-- Start Featured Bottom Line -->
    <div class="featured_bottom_line_full">
        @*@Html.Partial("_FeaturedBottomLine")*@
    </div>
    <!-- End Featured Bottom Line -->
    <!-- Start Footer Sidebar -->
    <div class="fsb_full">
        @Html.Partial("_Footer")
    </div>
    <!-- End Footer  -->
    <!-- Theme Hook -->
    <script src="~/js/Includer.js"></script>
    <script type="text/javascript">Cufon.now();</script>
</body>
</html>